mercadopago
numpy
pandas
ta
pip
wheel
requests
pytz
idna
multidict
attrs
setuptools
regex
openpyxl
MarkupSafe
python-dateutil
yarl
aiohttp
aiosignal
frozenlist
dateparser
websockets
certifi
tzlocal
six
Jinja2
psycopg2
python-binance
waitress
gunicorn
Flask
tqdm