.container{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px;
}

.container2{
	padding: 50px;
	width: 500px;
}

h1{
	font-size: 40px;
}

small{
	font-size: 15px;
	color: rgba(257, 257, 257, .8);
}

p{
	font-weight: lighter;
}

p::before{
	content: "■";
	margin-right: 10px;
}