.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#calculadora{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 95%;
    z-index: 1;
}