{% extends 'main.html' %}
{% from "pantalla.html" import pantalla %}
{% from "teclado.html" import teclado %}
{% from "indicadores.html" import indicadores %}
{% from "symbols.html" import pares %}
{% from "price_system.html" import price %}
{% from "temporalidad.html" import temporalidad %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/pantalla.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/teclado.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/indicadores.css') }}">
{% endblock %}


{% block content %}
    <div class="container">
        <div id="calculadora">
            {{ pantalla() }}
            {{ teclado() }}
            {{ indicadores(indicators) }}
            {{ pares(symbols) }}
            {{ price(price_system) }}
            {{ temporalidad(temps) }}
        </div>
    </div>

{% endblock %}

{% block endjs %}
    <script src="{{ url_for('static',filename='js/teclado.js') }}"></script>
    <script src="{{ url_for('static',filename='js/indicators.js') }}"></script>
    <script src="{{ url_for('static',filename='js/symbol.js') }}"></script>
    <script src="{{ url_for('static',filename='js/price_system.js') }}"></script>
    <script src="{{ url_for('static',filename='js/temporalidad.js') }}"></script>
{% endblock %}