<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    {% block css %}

    {% endblock %}

    {% block js %}

    {% endblock %}
    <title>BackTest Wizard</title>
</head>
<body id="body">
    <header>
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static',filename='img/logo.png') }}" alt="logo"></a>
        <div id="menu">
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('instrucciones') }}">Instrucciones</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        Contacto: wizardbacktest@gmail.com
    </footer>

    {% block endjs %}

    {% endblock %}

</body>
</html>
