{% macro pantalla() %}
    <form action="{{ url_for('pay') }}">
        <div class="renglon">
            <label for="buy-strategy">Compra</label>
            <input id="buy-strategy" name="buy-strategy" type="text" placeholder="Estrategia de Compra" autocomplete="off">
        </div>
        <div class="renglon">
            <label for="sell-strategy">Venta</label>
            <input id="sell-strategy" name="sell-strategy" type="text" placeholder="Estrategia de Venta" autocomplete="off">
        </div>
        <div class="subrenglon">
            <label for="SymbolInput">Par</label>
            <input type="text" name="symbol" id="symbolInput" placeholder="Par de Criptomonedas" autocomplete="off">

            <label for="tempInput">Temp.</label>
            <input type="text" name="temp" id="tempInput" placeholder="Temporalidad" autocomplete="off">

            <label for="systemInput">Sist. Precio</label>
            <input type="text" name="price_system" id="systemInput" placeholder="Sistema de Precios" autocomplete="off">

            <label for="stoplossInput">Stop Loss</label>
            <input type="number" step="0.01" name="stoploss" id="stoplossInput" placeholder="Stop Loss (%)" autocomplete="off">

            <label for="trailingInput">Trailing</label>
            <input type="number" step="0.01" name="trailing" id="trailingInput" placeholder="Trailing Stop (%)" autocomplete="off">
        </div>
        <input type="submit" id="backtest" value="Backtest →">
    </form>
{% endmacro %}